@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Milona";
  src: url(./fonts/Milona.otf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Milona";
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

* {
  box-sizing: border-box;
}
