@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville");

@font-face {
  font-family: "Milona";
  src: url(./fonts/Milona.otf);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Milona";
  font-size: 19px;
  line-height: 26px;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ol {
  list-style: decimal;

  li {
    margin-left: 1rem;
    padding-left: 0.5rem;
  }
}

* {
  box-sizing: border-box;
}
