.logo {
  animation: spin 10s linear infinite;
  top: calc(100vw * (587 / 1440) * (400 / 587));
  right: calc(100vw * (320 / 1440));
  width: calc(100vw * (108 / 1440));
  height: calc(100vw * (108 / 1440));
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
