.logo {
  animation: spin 10s linear infinite;
  top: calc(100vh * 0.322);
  right: calc(100vw * 0.15);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
